.btn {
	&Holder {
		text-align: center;
	}
	padding: 3px 8px;
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-top: 13px;
	transition: color 0.4s linear, background-color 0.4s linear, border-color 0.4s linear,
		transform 0.4s linear;

	&_color_successful {
		background-color: green;
		color: white;
		border: 1px solid white;

		&:hover {
			color: green;
			background-color: white;
			border-color: green;
			transform: scale(1.05) rotate(-1deg);
		}
	}

	&_color_danger {
		background-color: red;
		color: white;
		border: 1px solid white;

		&:hover {
			color: red;
			background-color: white;
			border-color: red;
			transform: scale(1.05) rotate(-1deg);
		}
	}

	&_color_info {
		background-color: blue;
		color: white;
		border: 1px solid white;

		&:hover {
			color: blue;
			background-color: white;
			border-color: blue;
			transform: scale(1.05) rotate(-1deg);
		}
	}

	&_color_warning {
		background-color: orange;
		color: white;
		border: 1px solid white;

		&:hover {
			color: orange;
			background-color: white;
			border-color: orange;
			transform: scale(1.05) rotate(-1deg);
		}
	}
}
